<div id="<%= dom_id contest %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= contest.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= contest.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Type:</strong>
    <%= contest.contest_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= contest.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Match:</strong>
    <%= contest.match.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= contest.description %>
  </div>
  <div>
  <div>
    <strong class="block font-medium mb-1">Timing:</strong>
    <%= contest.start_time %>
  </div>
</div>
