<div id="<%= dom_id toss %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= toss.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Team one:</strong>
    <%= toss.team_one_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Team two:</strong>
    <%= toss.team_two_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Timing:</strong>
    <%= toss.timing %>
  </div>
</div>
